@model EditarTableroViewModel
@using tl2_tp10_2023_gonchyrobinson.ViewModel
        <h1 class="display-4 text-center">Editar tablero</h1>   </div>

<form asp-controller="Tablero" asp-action="EditarP" method="post" class="d-flex flex-column">
    <input asp-for="@Model.Id" hidden>
    <input asp-for="@Model.Usuarios" hidden>
    <div class="form-group">
        <label for="nombre">Nombre del tablero</label>
        <input type="text" class="form-control mb-3" id="nombre" asp-for="@Model.Nombre">
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="us_prop">Usuario Asignado</label>
        <select class="form-control mb-3" id="us_prop" asp-for="@Model.IdUsuarioAsignado">
            @{
                foreach (var us in Model.Usuarios)
                {
                    <option value="@us.Id">@us.Nombre</option>
                }
            }
        </select>
        <span asp-validation-for="@Model.IdUsuarioAsignado" class="text-danger"></span>

    </div>
    <div class="form-group mb-3">
        <label for="desc">Descripcion</label>
        <input type="text" class="form-control" id="desc" asp-for="@Model.Descripcion">
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>
     <div class="btn-group d-flex my-2" role="group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}