@using tl2_tp10_2023_gonchyrobinson.ViewModel
@model IndexTableroViewModel
        <h1 class="display-4 text-center">Tableros</h1>   </div>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" hidden>Id</th>
            <th scope="col" hidden>Id Usuario Propietario</th>
            <th scope="col">Usuario Propietario</th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Descripcion </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model.Tableros)
        {
            <tr>
                <td hidden>@tab.Id</td>
                <td hidden>@tab.Id_usuario_propietario</td>
                <td>@tab.NombreUsuario</td>
                <td>@tab.NombreTablero</td>
                <td>@tab.Descripcion</td>
                <td><a class="btn bg-warning" asp-asp-controller="Tablero" asp-action="Editar"
                        asp-route-id="@tab.Id">Modificar</a></td>
                <td><a class="btn bg-danger" asp-asp-controller="Tablero" asp-action="Eliminar"
                        asp-route-id="@tab.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="btn-group d-flex" role="group">
    <a class="btn btn-primary btn-success" asp-controller="Tablero" asp-action="Crear">Crear Tablero</a>
</div>