@model CrearTareaViewModel
@using tl2_tp10_2023_gonchyrobinson.ViewModel
        <h1 class="display-4 text-center">Crear Tareas</h1>   </div>

<form asp-asp-controller="Tarea" asp-action="CrearP" method="post">
    <div class="form-group">
        <label for="id_tablero">Id del tablero</label>
        <select class="form-control mb-3" id="id_tablero" asp-for="@Model.Id_tablero">
            @foreach (var item in Model.Tableros)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
        <label for="nombre_tarea">Nombre De Tarea</label>
        <input class="form-control mb-3" id="nombre_tarea" asp-for="@Model.Nombre">
        <label for="estado_tarea">Estado de tarea</label>
        <select class="form-control mb-3" id="estado_tarea" asp-for="@Model.Estado">
            <option value="@EstadoTarea.Doing">@EstadoTarea.Doing</option>
            <option value="@EstadoTarea.ToDo">@EstadoTarea.ToDo</option>
            <option value="@EstadoTarea.Done">@EstadoTarea.Done</option>
            <option value="@EstadoTarea.Ideas">@EstadoTarea.Ideas</option>
            <option value="@EstadoTarea.Review">@EstadoTarea.Review</option>
        </select>
        <label for="descripcion">Descripcion</label>
        <input class="form-control mb-3" id="descripcion" asp-for="@Model.Descripcion">
        <label for="color">Color</label>
        <input  class="form-control mb-3" id="color" asp-for="@Model.Color">
        <label for="usuarioAsignado">Usuario Asignado</label>
        <select class="form-control mb-3" id="usuarioAsignado" asp-for="@Model.Id_usuario_asignado">
                @foreach (var item in Model.Usuarios)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
        </select>
    </div>
    <div class="btn-group d-flex my-4" role="group">
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}