@model Tarea
<form asp-asp-controller="Tarea" asp-action="CrearP" method="post">
    <div class="form-group">
        <label for="id_tablero">id_tablero</label>
        <select class="form-control" id="id_tablero" asp-for="@Model.Id_tablero">
            @foreach (var idT in ViewBag.Tableros)
            {
                <option value="@idT">@idT</option>
            }
        </select>
        <label for="nombre_tarea">Nombre De Tarea</label>
        <input type="text" class="form-control" id="nombre_tarea" asp-for="@Model.Nombre">
        <label for="estado_tarea">Estado de tarea</label>
        <select class="form-control" id="estado_tarea" asp-for="@Model.Estado">
            <option value="@EstadoTarea.Doing">@EstadoTarea.Doing</option>
            <option value="@EstadoTarea.ToDo">@EstadoTarea.ToDo</option>
            <option value="@EstadoTarea.Done">@EstadoTarea.Done</option>
            <option value="@EstadoTarea.Ideas">@EstadoTarea.Ideas</option>
            <option value="@EstadoTarea.Review">@EstadoTarea.Review</option>
        </select>
        <label for="descripcion">Descripcion</label>
        <input type="text" class="form-control" id="descripcion" asp-for="@Model.Descripcion">
        <label for="color">color</label>
        <input type="text" class="form-control" id="color" asp-for="@Model.Color">
        <label for="usuarioAsignado">Usuario Asignado</label>
        <select class="form-control" id="usuarioAsignado" asp-for="@Model.Id_usuario_asignado">
            @{
                foreach(var idUs in ViewBag.Usuarios){
                    Usuario?  us= ViewBag.UsRepos.ObtenerDetalles(idUs);
                    string nombreUs ="";
                    if(us!=null){
                        nombreUs=us.Nombre_de_Usuario;
                    }
                    <option value="@idUs">@nombreUs</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>