@using tl2_tp10_2023_gonchyrobinson.ViewModel
@model IndexTareaViewModel
        <h1 class="display-4 text-center">Tareas</h1>   </div>

<table class="table table-bordered table-hover table-responsive table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" hidden>Id</th>
            <th scope="col" hidden>Id Tablero</th>
            <th scope="col">Nombre de Tarea</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Color</th>
            <th scope="col" hidden>Id Usuario Asignado</th>
            <th scope="col">Usuario Asignado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.Tareas)
        {
            <tr>
                <td scope="row" hidden>@tarea.Id</td>
                <td scope="row" hidden>@tarea.Id_tablero</td>
                <td scope="row">@tarea.Nombre</td>
                <td scope="row">@tarea.Estado</td>
                <td scope="row">@tarea.Descripcion</td>
                <td scope="row">@tarea.Color</td>
                <td scope="row" hidden>@tarea.Id_usuario_asignado</td>
                <td scope="row">@tarea.NombreUsuarioAsignado</td>
                <td><a class="btn bg-warning" asp-controller="Tarea" asp-action="Editar" asp-route-id="@tarea.Id">Modificar</a></td>
                <td><a class="btn bg-danger" asp-controller="Tarea" asp-action="Eliminar" asp-route-id="@tarea.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="btn-group d-flex" role="group">
    <a class="btn btn-primary btn-success" asp-controller="Tarea" asp-action="Crear" >Crear Tarea</a> 
</div>