@using tl2_tp10_2023_gonchyrobinson.ViewModel
@model CrearUsuarioViewModel
        <h1 class="display-4 text-center">Crear Usuario</h1>   </div>

<form asp-controller="Usuario" asp-action="Crear" method="post" class="d-flex flex-column">
    <div class="container-fluid form-group d-flex flex-column mb-3">
        <label for="us">Nombre de usuario</label>
        <input class="w-40" id="us" asp-for="@Model.NombreUs" required />
    </div>
    <div class="container-fluid form-group d-flex flex-column mb-3">
        <label for="contra">Contraseña</label>
        <input class="w-40" type="password" id="contra"  asp-for="@Model.Contrasenia" required />
    </div>
    <div class="container-fluid form-group d-flex flex-column mb-3">
        <label for="rol">Rol</label>
        <select class="form-control w-40" id="rol" asp-for="@Model.Rol">
            <option value="@Roles.administrador">administrador</option>
            <option value="@Roles.operador">operador</option>
        </select>
    </div>
    <div class="btn-group d-flex my-4" role="group">
        <button type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}