@model IndexUsuarioViewModel
@using tl2_tp10_2023_gonchyrobinson.ViewModel
        <h1 class="display-4 text-center"> Usuarios</h1>   </div>

<table class="table table-bordered table-hover table-responsive table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" hidden></th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col" ></th>
            <th scope="col" ></th>
            <th scope="col" ></th>
            <th scope="col" ></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var us in Model.ListaUsuarios)
        {
            <tr>
                <td hidden>@us.Id</td>
                <td>@us.NombreUs</td>
                <td>@us.Rol</td>
                <td><a class="btn bg-warning" asp-controller="Usuario" asp-action="Modificar" asp-route-id="@us.Id">Editar</a></td>
                <td><a class="btn bg-danger" asp-controller="Usuario" asp-action="Eliminar" asp-route-id="@us.Id">Eliminar</a></td>
                <td><a class="btn bg-success" asp-controller="Tarea" asp-action="Index" asp-route-id="@us.Id">Ver Tareas</a></td>
                <td><a class="btn bg-primary" asp-controller="Tablero" asp-action="Index" asp-route-id="@us.Id">Ver Tableros</a></td>

            </tr>
        }
    </tbody>
</table>
<div class="btn-group d-flex" role="group">
    <a class="btn btn-primary btn-success" asp-controller="Usuario" asp-action="Crear" >Crear Usuario</a> 
</div>